/.idea/
/.vscode/
/blog/
/ik/
/images/*
!/images/.htaccess
!/images/index.php
/temp/
/upgrades/*
!/upgrades/source_restore.php
/var/*
!/var/conf
!/var/index.php
!/var/langs
!/var/themes_repository
/webstat/
/changelog.txt
/config.local.php
/local_conf.php
/install*
/google*
/yandex*
